# ─── Database ─────────────────────────────────────────────────────────────────
# MONGODB credentials - DATABASE_URL is constructed from these
MONGO_PORT_HOST=
MONGODB_CONTAINER_SERVICE_NAME=mongodb
MONGODB_CONTAINER_SERVICE_PORT=27017
MONGODB_INITDB_ROOT_USERNAME=user
MONGODB_INITDB_ROOT_PASSWORD=pass

# DATABASE_URL constructed from credentials above:
MONGODB_URI_LOCAL=mongodb://${MONGODB_INITDB_ROOT_USERNAME}:${MONGODB_INITDB_ROOT_PASSWORD}@${MONGODB_CONTAINER_SERVICE_NAME}:${MONGODB_CONTAINER_SERVICE_PORT}

APP_PORT=9880
CONTAINER_APP_PORT=