# ─── Database ─────────────────────────────────────────────────────────────────
# MONGODB credentials - DATABASE_URL is constructed from these
MONGO_PORT_HOST=
MONGODB_CONTAINER_SERVICE_NAME=mongodb
MONGODB_CONTAINER_SERVICE_PORT=27017
MONGODB_INITDB_ROOT_USERNAME=user
MONGODB_INITDB_ROOT_PASSWORD=pass

# DATABASE_URL constructed from credentials above:
MONGODB_URI_LOCAL=mongodb://${MONGODB_INITDB_ROOT_USERNAME}:${MONGODB_INITDB_ROOT_PASSWORD}@${MONGODB_CONTAINER_SERVICE_NAME}:${MONGODB_CONTAINER_SERVICE_PORT}

# FOR MONGO EXPRESS
ME_CONFIG_MONGODB_SERVER=${MONGODB_CONTAINER_SERVICE_NAME}
ME_CONFIG_MONGODB_PORT=${MONGODB_CONTAINER_SERVICE_PORT}
ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGODB_INITDB_ROOT_USERNAME}
ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGODB_INITDB_ROOT_PASSWORD}
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin
ME_PORT_HOST=
ME_PORT_CONTAINER=